* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #3f1429 !important;
}

.abiodunLb {
  background-color: #fff;
  border-radius: 9px;
  margin: 7%;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #3f1429;
  font-size: 35px;
  font-family: 'Mochiy Pop One', sans-serif;
  animation: bouge 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: 1;
  transform: translateX(0);
}

h2 {
  color: #3f1429;
  font-size: 30px;
}

.main {
  margin: 5% 8%;
  height: 50vh;
  display: flex;
  gap: 50px;
}

.left {
  margin: 0 5% 0 15%;
}

.leftHeader {
  display: flex;
  margin-bottom: 40px;
}

.leftHeader h2 {
  margin-right: 17px;
}

button {
  outline: 0;
  border: 0;
  padding: 9px;
  background-color: #3cb17e;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 9px;
}

.leftHeader i {
  margin-left: 10px;
}

.leftBody > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3f1429;
  border-bottom: 0;
}

.leftBody > div p {
  padding: 15px;
  color: #3f1429;
  margin: 0 10px;
  font-size: 21px;
  font-weight: 700;
}

.leftBody ul {
  border: 1px solid #3f1429;
  margin: 0;
  padding: 0;
}

.leftBody .leaders {
  max-height: 55%;
  overflow-y: scroll;
}

.leftBody ul li {
  width: 100%;
  list-style-type: none;
  height: 40px;
  margin: auto 0;
  padding: 15px 15px;
  border-bottom: 1px solid #3f1429;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftBody ul li span {
  padding: 15px;
}

.leftBody ul li .span {
  color: #3f1429;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.rightHeader {
  margin-bottom: 40px;
}

.rightBody form input {
  margin-bottom: 20px;
  outline: none;
  border: none;
  padding: 10px;
  border-bottom: 2px solid #3f1429;
}
